In [ ]:
# Procesamiento overview

In [63]:
import pandas as pd
df = pd.read_csv("data/movies_limpios.csv")

In [67]:
#Valores nulos y vacíos

print("Nulos:", df['overview'].isnull().sum())
print("Vacíos:", (df['overview'].str.strip()=='').sum())

Nulos: 0
Vacíos:  0

In [87]:
# Procesamiento con NLTK

import nltk
from nltk.tokenize.punkt import PunktSentenceTokenizer
import string
from nltk.corpus import stopwords
import pickle

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/juito/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/juito/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [109]:
stop_words = set(stopwords.words('spanish'))
from nltk.tokenize import RegexpTokenizer

tokenizer_words = RegexpTokenizer(r'\b\w+\b')

def procesar_overview(texto):
    if pd.isnull(texto):
        return[]
    #Pasamos a minúsculas
    texto = texto.lower()
    #Tokenizamos palabras
    tokens = tokenizer_words.tokenize(texto)
    # Filtramos tokens: Solo letras, sin stopwords, longitud >2
    tokens = [t for t in tokens if t.isalpha() and t not in stop_words and len(t) >2]
    return tokens
    
df['overview_tokens'] = df['overview'].apply(procesar_overview)

df[['title','overview_tokens']].head()

,title,overview_tokens
0,Los aristogatos,"[parís, anciana, millonaria, excéntrica, lleva..."
1,Regreso al planeta de los simios,"[nueva, nave, procedente, espacio, tiempo, ate..."
2,Love Story,"[historia, amor, dos, universitarios, harvard,..."
3,Patton,"[biografía, general, norteamericano, george, p..."
4,"Hola, mamá","[john, rubin, veterano, guerra, vietnam, vuelv..."

In [111]:
# Guardamos progreso

df.to_csv("data/movies_overview_tokens.csv", index=False)

In [143]:
# LEMATIZAR

# pip install spacy
# pip install --updrage numpy h5py spacy
# python -m spacy download es_core_news_sm

In [139]:
import spacy
nlp = spacy.load("es_core_news_sm")

def lematizar_tokens(tokens):
    doc = nlp(" ".join(tokens))
    return [token.lemma_ for token in doc if token.lemma_.isalpha() and len(token.lemma_) > 2]

df['overview_lemmas'] = df['overview_tokens'].apply(lematizar_tokens)

In [141]:
df.head()

,id,title,original_title,production_countries,overview,release_date,original_language,genres,runtime,budget,revenue,cast,vote_average,director,keywords,main_country,overview_tokens,overview_lemmas
0,10112,Los aristogatos,The Aristocats,['United States of America'],1910. En París una anciana millonaria y excént...,1970-12-24,en,"['Animación', 'Comedia', 'Familia', 'Aventura']",78,4000000,191000000,"['Phil Harris', 'Eva Gabor', 'Sterling Holloway']",7.287,Wolfgang Reitherman,"['paris, france', 'return', 'butler', 'cartoon...",United States of America,"[parís, anciana, millonaria, excéntrica, lleva...","[parís, anciana, millonario, excéntrico, lleva..."
1,1685,Regreso al planeta de los simios,Beneath the Planet of the Apes,['United States of America'],Una nueva nave procedente del espacio y del ti...,1970-04-23,en,"['Aventura', 'Ciencia ficción', 'Misterio']",95,3000000,18999718,"['James Franciscus', 'Kim Hunter', 'Maurice Ev...",6.147,Ted Post,"['dystopia', 'mutant', 'distant future', 'astr...",United States of America,"[nueva, nave, procedente, espacio, tiempo, ate...","[nuevo, nave, procedente, espacio, tiempo, ate..."
2,9062,Love Story,Love Story,['United States of America'],Historia de amor de dos universitarios de Harv...,1970-12-16,en,"['Romance', 'Drama']",99,2200000,136400000,"['Ali MacGraw', ""Ryan O'Neal"", 'John Marley']",6.821,Arthur Hiller,"['based on novel or book', 'harvard university...",United States of America,"[historia, amor, dos, universitarios, harvard,...","[historia, amor, dos, universitario, harvard, ..."
3,11202,Patton,Patton,['United States of America'],Biografía del general norteamericano George S....,1970-01-25,en,"['Bélica', 'Drama', 'Historia']",172,12000000,89800000,"['George C. Scott', 'Stephen Young', 'Frank La...",7.487,Franklin J. Schaffner,"['general', 'steel helmet', 'allies', 'world w...",United States of America,"[biografía, general, norteamericano, george, p...","[biografía, general, norteamericano, george, p..."
4,42589,"Hola, mamá","Hi, Mom!",['United States of America'],"John Rubin, un veterano de la guerra del Vietn...",1970-04-27,en,"['Comedia', 'Crimen']",88,0,0,"['Robert De Niro', 'Jennifer Salt', 'Allen Gar...",6.293,Brian De Palma,"['new york city', 'pornography', 'black panthe...",United States of America,"[john, rubin, veterano, guerra, vietnam, vuelv...","[john, rubin, veterano, guerra, vietnam, vuelv..."