In [ ]:
# Procesamiento overview

In [63]:
import pandas as pd
df = pd.read_csv("data/movies_limpios.csv")

In [67]:
#Valores nulos y vacíos

print("Nulos:", df['overview'].isnull().sum())
print("Vacíos:", (df['overview'].str.strip()=='').sum())

Nulos: 0
Vacíos:  0

In [87]:
# Procesamiento con NLTK

import nltk
from nltk.tokenize.punkt import PunktSentenceTokenizer
import string
from nltk.corpus import stopwords
import pickle

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/juito/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/juito/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [109]:
stop_words = set(stopwords.words('spanish'))
from nltk.tokenize import RegexpTokenizer

tokenizer_words = RegexpTokenizer(r'\b\w+\b')

def procesar_overview(texto):
    if pd.isnull(texto):
        return[]
    #Pasamos a minúsculas
    texto = texto.lower()
    #Tokenizamos palabras
    tokens = tokenizer_words.tokenize(texto)
    # Filtramos tokens: Solo letras, sin stopwords, longitud >2
    tokens = [t for t in tokens if t.isalpha() and t not in stop_words and len(t) >2]
    return tokens
    
df['overview_tokens'] = df['overview'].apply(procesar_overview)

df[['title','overview_tokens']].head()

,title,overview_tokens
0,Los aristogatos,"[parís, anciana, millonaria, excéntrica, lleva..."
1,Regreso al planeta de los simios,"[nueva, nave, procedente, espacio, tiempo, ate..."
2,Love Story,"[historia, amor, dos, universitarios, harvard,..."
3,Patton,"[biografía, general, norteamericano, george, p..."
4,"Hola, mamá","[john, rubin, veterano, guerra, vietnam, vuelv..."

In [ ]:
# Guardamos progreso

df.to_csv("data/movies_overview_tokens.csv", index=False)